

<ion-content>


  <ion-grid >
    <ion-row>
      <ion-col>

        <h3>Peliculas</h3>
      </ion-col>
     
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculasRecientes]='peliculasRecientes'></app-slideshow-backdrop>

<!-- 
  <ion-slides  [options]='slideOpts'  mode="ios"  scrollbar="ios">
    <ion-slide *ngFor="let pelicula of peliculasRecientes"  >
      <ion-card>
        
          <img [src]='pelicula.backdrop_path | image' > -->
          <!-- imagen es el nombre dado en el archoivo Pipe -->

      <!-- </ion-card>
    </ion-slide>
  </ion-slides> -->

  <ion-grid >
      <ion-row>
        <ion-col>
  
          <h3>Cartelera</h3>
        </ion-col>
       
      </ion-row> 
    </ion-grid>

    <app-slideshow-poster [peliculasRecientes]='peliculasRecientes'>
      
    </app-slideshow-poster>


    <ion-grid >
        <ion-row>
          <ion-col>
    
            <h3>Populares</h3>
          </ion-col>
         
        </ion-row>
      </ion-grid>
  
      <app-slideshow-pares 
      [peliculasRecientes]='populares'
      (cargarMas)='cargarMas()'
      
      >
        
      </app-slideshow-pares>
  
   
</ion-content>
